version: "3.1"

services:
  web:
    deploy:
      restart_policy:
        condition: on-failure
    build: .
    ports:
      - "127.0.0.1:5000:5000"
    environment:
      - PYTHONUNBUFFERED=0
      - DB_URL=postgresql://test:test@db/schemathesis-example
    depends_on:
      - db
    working_dir: /example
    volumes:
      - ./app/:/example/app/
      - ./main.py:/example/main.py
    entrypoint: python /example/main.py

  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_USER: test
      POSTGRES_DB: schemathesis-example
    volumes:
      - ./database:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
