[tool.poetry]
name = "schemathesis"
version = "3.16.2"
description = "Property-based testing framework for Open API and GraphQL based apps"
keywords = ["pytest", "hypothesis", "openapi", "swagger", "graphql", "testing"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Framework :: Pytest",
    "Framework :: Hypothesis",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Testing",
]
authors = ["Dmitry Dygalo <dadygalo@gmail.com>"]
maintainers = ["Dmitry Dygalo <dadygalo@gmail.com>"]
documentation = "https://schemathesis.readthedocs.io/en/stable/"
readme = "README.rst"
repository = "https://github.com/schemathesis/schemathesis"
homepage = "https://github.com/schemathesis/schemathesis"
license = "MIT"
include = ["src/schemathesis/py.typed"]

[tool.poetry.urls]
"Source Code" = "https://github.com/schemathesis/schemathesis"
"Change Log" = "https://github.com/schemathesis/schemathesis/blob/master/docs/changelog.rst"
"Funding" = "https://github.com/sponsors/Stranger6667"

[tool.poetry.dependencies]
python = "^3.7"
attrs = ">=19.2,<=21.4"
hypothesis = "^6.13.3"
hypothesis_jsonschema = "^0.22.0"
hypothesis_graphql = "^0.9.0"
jsonschema = "^4.3.2"
pytest = ">4.6.4,<8"
PyYAML = ">=5.1,<7.0"
pytest-subtests = ">=0.2.1,<0.8.0"
requests = ">=2.22,<2.28.0"
click = ">=7.0,<9.0"
importlib_metadata = { version = ">=1.1,!=3.8,<5", python = "<3.8" }
werkzeug = ">=0.16.0,<2.2"
junit-xml = "^1.9"
starlette = ">=0.13,<1"
yarl = "^1.5"
curlify = "^2.2.1"
typing-extensions = ">=3.7,<5"
colorama = "^0.4"
tomli = "^2.0.1"
tomli-w = "^1.0.0"

[tool.poetry.dev-dependencies]
coverage = "^6"
aiohttp = "^3.8"
pytest-mock = "^3.7.0"
pytest-asyncio = "^0.18.0"
pytest-xdist = "^2.5"
fastapi = "^0.75.0"
pytest-httpserver = "^1.0.0"
trustme = "^0.9.0"
Flask = "^2.1.1"
Sphinx = "^4.5.0"
strawberry-graphql = {extras = ["fastapi"], version = "^0.109.0"}

[tool.poetry.plugins]
pytest11 = {schemathesis = "schemathesis.extra.pytest_plugin"}

[tool.poetry.scripts]
schemathesis = "schemathesis.cli:schemathesis"
st = "schemathesis.cli:schemathesis"

[tool.black]
line-length = 120
target_version = ["py37"]

[tool.isort]
profile = "black"
line_length = 120
default_section = "THIRDPARTY"
known_first_party = "schemathesis"
known_third_party = ["_pytest", "aiohttp", "attr", "click", "curlify", "fastapi", "flask", "graphene", "graphql", "graphql_server", "hypothesis", "hypothesis_graphql", "hypothesis_jsonschema", "jsonschema", "junit_xml", "packaging", "pydantic", "pytest", "pytest_subtests", "requests", "schemathesis", "starlette", "typing_extensions", "urllib3", "werkzeug", "yaml", "yarl"]

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"
