[tool.poetry]
name = "schemathesis"
version = "3.11.6"
description = "Property-based testing framework for Open API and GraphQL based apps"
keywords = ["pytest", "hypothesis", "openapi", "swagger", "graphql", "testing"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Framework :: Pytest",
    "Framework :: Hypothesis",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Testing",
]
authors = ["Dmitry Dygalo <dadygalo@gmail.com>"]
maintainers = ["Dmitry Dygalo <dadygalo@gmail.com>"]
documentation = "https://schemathesis.readthedocs.io/en/stable/"
readme = "README.rst"
repository = "https://github.com/schemathesis/schemathesis"
homepage = "https://github.com/schemathesis/schemathesis"
license = "MIT"
include = ["src/schemathesis/py.typed"]

[tool.poetry.urls]
"Source Code" = "https://github.com/schemathesis/schemathesis"
"Change Log" = "https://github.com/schemathesis/schemathesis/blob/master/docs/changelog.rst"
"Funding" = "https://github.com/sponsors/Stranger6667"

[tool.poetry.dependencies]
python = "^3.6"
attrs = ">=19.2"
hypothesis = ">=6.13.3,<7.0"
hypothesis_jsonschema = "<0.21.0"
hypothesis_graphql = ">=0.5.0"
jsonschema = "^3.0.0"
pytest = ">4.6.4"
pyyaml = "^6.0"
pytest-subtests = ">=0.2.1,<1.0"
requests = "^2.22"
click = "^8.0"
importlib_metadata = { version = ">=1.1,!=3.8", python = "<3.8" }
werkzeug = ">=0.16.0"
junit-xml = "^1.9"
starlette = ">=0.13,<1"
yarl = "^1.5"
curlify = "^2.2.1"
typing-extensions = "^3.7"
colorama = "^0.4"

[tool.poetry.dev-dependencies]
coverage = "^5"
pytest = "^6.0"
aiohttp = "^3.6"
graphene = "^3.0b3"
graphql-server-core = { git = "https://github.com/graphql-python/graphql-server-core.git", rev = "e8f3a89a64d75e8668f5f4762b87d34a1840d926" }
pytest-mock = "^1.11.0"
pytest-asyncio = "^0.11.0"
pytest-xdist = "^1.30"
typing_extensions = "^3.7"
flask = "^1.1"
fastapi = ">=0.62.0"
sphinx = "^3.5.3"
pytest-httpserver = "^1.0.0"
trustme = "^0.9.0"

[tool.poetry.plugins]
pytest11 = {schemathesis = "schemathesis.extra.pytest_plugin"}

[tool.poetry.scripts]
schemathesis = "schemathesis.cli:schemathesis"

[tool.black]
line-length = 120
target_version = ["py37"]

[tool.isort]
# config compatible with Black
line_length = 120
multi_line_output = 3
default_section = "THIRDPARTY"
include_trailing_comma = true
known_first_party = "schemathesis"
known_third_party = ["_pytest", "aiohttp", "attr", "click", "curlify", "fastapi", "flask", "graphene", "graphql", "graphql_server", "hypothesis", "hypothesis_graphql", "hypothesis_jsonschema", "jsonschema", "junit_xml", "packaging", "pydantic", "pytest", "pytest_subtests", "requests", "schemathesis", "starlette", "typing_extensions", "urllib3", "werkzeug", "yaml", "yarl"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
