name: Checks for every commit

on:
  pull_request: ~
  push:
    branches:
      - master

jobs:
  commitsar:
    name: Verify commit messages
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0
      - name: Run commitsar
        uses: aevea/commitsar@v0.18.0
