name: Post-release jobs

on:
  release:
    types: [published]

jobs:
  container:
    name: Container image
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3.0.0

      - name: GitHub Package Registry
        uses: aevea/action-kaniko@v0.6.2
        with:
          registry: docker.pkg.github.com
          password: ${{ secrets.GITHUB_TOKEN }}
          image: server
          cache: true
          cache_registry: cache

      - name: Alpine. Dockerhub
        uses: aevea/action-kaniko@v0.6.2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: schemathesis/schemathesis
          cache: true
          cache_registry: schemathesis/cache

      - name: Alpine. Dockerhub stable
        uses: aevea/action-kaniko@v0.6.2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: schemathesis/schemathesis
          cache: true
          tag: stable
          cache_registry: schemathesis/cache

      - run: echo "buster_tag=$(echo -n ${GITHUB_REF} | sed -E 's/refs\/(heads|tags)\///g' | sed -e 's/\//-/g' | cat - <(echo "-buster"))" >> $GITHUB_ENV

      - name: Buster. Dockerhub
        uses: aevea/action-kaniko@v0.6.2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: schemathesis/schemathesis
          build_file: Dockerfile.buster
          tag: ${{ env.buster_tag }}
          cache: true
          cache_registry: schemathesis/cache

      - name: Buster. Dockerhub stable
        uses: aevea/action-kaniko@v0.6.2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image: schemathesis/schemathesis
          build_file: Dockerfile.buster
          cache: true
          tag: stable-buster
          cache_registry: schemathesis/cache

  release_package:
    name: Build and publish package to pypi.org
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v3.1.0
        with:
          python-version: "3.8"

      - run: pip install "hatchling==1.12.*"

      - name: Build package
        run: hatchling build

      - name: Publish distribution package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
