name: Post-release jobs

on:
  release:
    types: [published]

jobs:
  containers:
    name: Build container images
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: Dockerfile
            tag-suffix: ""
          - dockerfile: Dockerfile.bookworm
            tag-suffix: "-bookworm"

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            latest=false
          images: |
            schemathesis/schemathesis
            ghcr.io/schemathesis/schemathesis
          tags: |
            type=semver,pattern={{raw}}${{ matrix.tag-suffix }}
            type=semver,pattern={{version}}${{ matrix.tag-suffix }}
            type=raw,value=stable${{ matrix.tag-suffix }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  release_package:
    name: Build and publish package to pypi.org
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: hynek/setup-cached-uv@v2

      - name: Build package
        run: uvx hatchling build

      - name: Publish distribution package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
