name: Scheduled jobs

on:
  schedule:
    # Every Monday at 00:00
    - cron: "0 0 * * 1"

jobs:
  mutmut:
    name: mutmut
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - run: sudo apt-get update && sudo apt-get install -y --no-install-recommends sqlite3

      - run: pip install poetry mutmut

      - name: Cache Poetry virtualenv
        uses: actions/cache@v2
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Set Poetry config
        run: |
          poetry config virtualenvs.in-project false
          poetry config virtualenvs.path ~/.virtualenvs

      - run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Run mutmut tests
        run:
          mutmut run
            --backup
            --paths-to-mutate "src/"
            --tests-dir "test/"
            --paths-to-exclude=definitions.py
            --runner "poetry run pytest -n auto -x -q test"

      - name: Display survived mutations
        if: failure()
        run:
          while read -r line;
            do mutmut show $line;
          done <<< $(
            sqlite3 .mutmut-cache
              "select id from Mutant where status in ('bad_survived', 'bad_timeout', 'ok_suspicious');"
            );

  hypothesis-tests:
    name: Hypothesis tests with CI profile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install poetry
      - run: poetry install
      - run: poetry run pytest -m hypothesis -m hypothesis_nested --hypothesis-profile CI test
