name: Scheduled jobs

on:
  schedule:
    # Every Monday at 00:00
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  mutmut:
    name: mutmut
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - run: sudo apt-get update && sudo apt-get install -y --no-install-recommends sqlite3

      - run: pip install poetry mutmut

      - name: Cache Poetry virtualenv
        uses: actions/cache@v2
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Set Poetry config
        run: |
          poetry config virtualenvs.in-project false
          poetry config virtualenvs.path ~/.virtualenvs

      - run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Run mutmut tests
        run:
          mutmut run
            --backup
            --paths-to-mutate "src/"
            --tests-dir "test/"
            --paths-to-exclude=definitions.py
            --runner "poetry run pytest -n auto -x -q test"

      - name: Display survived mutations
        if: failure()
        run:
          while read -r line;
            do mutmut show $line;
          done <<< $(
            sqlite3 .mutmut-cache
              "select id from Mutant where status in ('bad_survived', 'bad_timeout', 'ok_suspicious');"
            );

  hypothesis-tests:
    name: Hypothesis tests with CI profile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install poetry
      - run: poetry install
      - run: poetry run pytest -m hypothesis -m hypothesis_nested --hypothesis-profile CI test

  test-corpus-part-1:
    name: Corpus tests. Part 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: true

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install poetry
      - run: poetry install
      # Azure.com APIs take >50% of all APIs in the test corpus
      - run: poetry run pytest test-corpus -k 'azure.com'

  test-corpus-part-2:
    name: Corpus tests. Part 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: true

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install poetry
      - run: poetry install
      # It matches 'microsoft.com/graph/1.0.1/openapi.yaml' that has >5000 API operations.
      # Running tests only for this API takes a lot of time and worth having a separate job due to the max time limit
      - run: poetry run pytest test-corpus -k 'microsoft.com and graph'

  test-corpus-part-3:
    name: Corpus tests. Part 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: true

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install poetry
      - run: poetry install
      # It matches everything except that large MS API and all Azure.com APIs
      - run: poetry run pytest test-corpus -k 'not (microsoft.com and graph) and not azure.com'
