name: scheduled

on:
  schedule:
    # Every Monday at 00:00
    - cron: "45 11 * * 3"

jobs:
  mutmut:
    name: mutmut
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - run: pip install poetry mutmut
    - run: poetry install
    - run: mutmut run --backup --paths-to-mutate "src/" --tests-dir "test/" --runner "poetry run pytest -n auto -x --tb=no -q"
    - run: while read -r line; do mutmut show $line; done <<< $(sqlite3 .mutmut-cache "select id from Mutant where status='bad_survived'")
